@import "./src/scss/mixins/placeholders.scss";
.landing {
  background-image: url(../../assets/bg/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  @extend %transition;

  &.pre {
    background-image: url(../../assets/bg/bg_low-quality.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}
