.project-card{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    width: 250px;
    height: 350px;
    backface-visibility: hidden;        

    & .project-card-flip{
        width: 100%;
        height: 100%;
        & .card{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            backface-visibility: hidden;
            transition: transform .8s linear;
            &.card-front{
                background-color: rgba(64, 224, 208, 0.122);
                transform: perspective(600px) rotateY(0deg);
                & .project-img{
                    width: 100%;
                    height:70%;
                    overflow: hidden;
                    align-items:center ;
                    & img{
                        height: 100%;
                        width: auto;
                    }
                }
            }
            &.card-back{
                background-color: green;
                transform: perspective(1000px) rotateY(180deg);
          }
                
        } 
        &.rotate > .card-back{
            transform: perspective(600px) rotateY(-10deg);
        }  
        &.rotate > .card-front{
            transform: perspective(600px) rotateY(200deg);
        }         
    } 
}

