.BgImage{
    width: 75%;
    position:absolute;
    z-index: 1;
    font-family: 'Allison', cursive, Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 100;
    letter-spacing: 1.2px;
    color: lightgrey;
    opacity: 0.6;
    word-wrap: normal; 
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:30px;
}
.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .textMain{
        font-size: xx-large;
        overflow-wrap: break-word;
        animation: animatrix 1s;
        filter: blur(2px);
        opacity:0.5;
        transition: 0.2s;
        cursor: default;
        &:hover{
           box-shadow:4px 4px 8px 0px rgb(189, 224, 255);
           background-color: #fff;
            color:black;
            scale: 1.8;
            opacity: 1;       
             filter: unset;
             border-radius: 50%;
             cursor: default;
        }
    }
    @keyframes animatrix{
        0%{opacity:0}
        100%{opacity:0.5}
    }