*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  scroll-behavior: smooth;
}

// //Abstract
@import "./src/scss/mixins/placeholders.scss";
@import "./scss/colors.scss";


// components 
@import "./component/navigation/navigation";